{% extends "./base.html" %}

{% block title %} TuSolucion.com {% endblock %}

{% block body %}
<div class="col-sm-12 col-md-12 col-lg-10 col-xl-10 bg-light py-4">
    {% if messages %}
    {% for message in messages %}
    <div id="my-alert" class="alert alert-success alert-dismissible fade show col-3" role="alert">
        <strong class="text-dark">{{ message }}</strong>
    </div>         
    {% endfor %}
    {% endif %}
    <div class="col-5">
        <h1 class="py-1">Lista de Clientes</h1>
    </div>
    <div class="col-5 py-2">
        <a href="/" class="btn btn-outline-dark">Ingreso</a>
    </div>
    <div class="table-responsive">
        <table class="table table-stripe">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Còdigo</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th>email</th>
                    <th colspan="2">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for c in listado %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{c.codigo}}</td>
                    <td>{{c.nombre}}</td>
                    <td>{{c.apellido}}</td>
                    <td>{{c.direccion}}</td>
                    <td>{{c.telefono}}</td>
                    <td>{{c.correo}}</td>
                    <td><a href="/" class="btn btn-info text-white">Editar</a></td>
                    <td><a href="/" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> 
<script>
    // Agregar la clase 'show' a la alerta para mostrarla
    document.addEventListener('DOMContentLoaded', function() {
        var alerta = document.getElementById('my-alert');
        alerta.classList.add('show');
    });
    
    // Remover la clase 'show' después de 5 segundos
    setTimeout(function() {
        var alerta = document.getElementById('my-alert');
        alerta.classList.remove('show');
    }, 2000);
</script>
    

{% endblock %}