{% extends "./base.html" %}
{% block title %} TuSolucion.com {% endblock %}

{% block body %}

{% load static %} 
<div class="container-sm col-5 py-5">
  <div class="bg-warning-subtle text-dark py-3">
      <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>TuSolucion.com</h1>
              <p>Calle 123, Ciudad, Estado</p>
              <p>Teléfono: 1234567890</p>
              <p>Email: info@tusolucion.com</p>
            </div>
          </div>
        </div>
  </div>
  <div class="container">
      <h1>Recibo</h1>
      <p id="pValor"></p>
  </div>
</div>
  <script src="{% static 'load.js' %}"></script>
{% endblock %}
