{% extends "./base.html" %}

{% block title %} TuSolucion.com {% endblock %}

{% block body %}

{% load static %} 
<div class="container-sm col-5 py-5">
    <div class="bg-warning-subtle text-dark py-3">
        <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>TuSolucion.com</h1>
                <p>Calle 123, Ciudad, Estado</p>
                <p>Teléfono: 1234567890</p>
                <p>Email: info@tusolucion.com</p>
              </div>
            </div>
          </div>
    </div>
    <div class="container">
        <h1>Recibo</h1>
        <div class="row">
          <div class="col-md-6 ">
            <select id="selectValor" class="form-control">
              <option id="opt10" value="$0.10">$0.10</option>
              <option id="opt15" value="$0.15">$0.15</option>
              <option id="opt20" value="$0.20">$0.20</option>
            </select>
            <p>Valor seleccionado: <span id="pValor"></span></p>
          </div>
              <button id="print_view" class="btn btn-success mt-2">Imprimir</button>     
          </div>
        </div>
    </div>    
</div>
<script src="{% static 'load.js' %}"></script>
{% endblock %}
